<!DOCTYPE html>

<head>
    <title></title>
</head>

<body>
    <div class="main">
        <h3>Click Counter</h3>
        <button id="clickme">Click me</button>
        <p>Click count: <span id='clickCount'>0</span></p>
    </div>
    <script src="/public/js/counter.js"></script>
</body>

</html>
